.ItemOrder {
  width: 100%;
  background: #e5e5e5;

  .ItemOrder-Cont {
    padding: 100px 0;
    max-width: 1016px;
    display: flex;

    &-Wrapper {
      display: flex;
      flex-direction: column;
    //   max-width: 708px;

      &_img {
          img {
              width: 100%;
          }
      }

      &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 48px;
        color: #161616;
      }

      &_ing {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: rgba(22, 22, 22, 0.74);
        margin-top: 24px;
      }

      &_media {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 32px;

        &_type {
          display: flex;
          flex-direction: column;

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: rgba(22, 22, 22, 0.74);
          }
        }

        &_icons {
          display: flex;

          p {
            display: flex;
            align-items: center;
            margin-right: 16px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            padding: 0 8px;
            background-color: #fff;
            color: rgba(22, 22, 22, 0.74);
          }
        }
      }

      &_ingredients {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_title {
          margin-top: 32px;
          margin-bottom: 16px;
          font-style: normal;
          font-weight: bold;
          font-size: 19px;
          line-height: 24px;
          color: #161616;
        }

        &_content {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          color: rgba(22, 22, 22, 0.74);
        }
      }
    }

    &-Order {
      display: flex;
      flex-direction: column;
      margin-left: 24px;

      &_count {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 24px;
        margin-bottom: 24px;

        &_titlebl {
          display: flex;
          h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            color: #161616;
            margin-right: 4px;
          }
        }

        &_btns {
          display: flex;
          margin-top: 16px;

          &_increment {
            display: flex;

            &_min,
            &_plus,
            p {
              padding: 10px 11px;
              background: rgba(22, 22, 22, 0.04);
              border-radius: 2px;
              cursor: pointer;
            }
          }

          &_order {
            background: #9aca3c;
            border-radius: 2px;
            color: #fff;
            padding: 12px 20px;
            font-style: normal;
            font-weight: 600;
            font-size: 9px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ffffff;
            border: 2px solid transparent;
            margin-left: 14px;
          }
        }
      }

      &_bad {
        width: 288px;
        display: flex;
        flex-wrap: wrap;

        h1 {
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 42px;
          color: #f58436;
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #161616;
        }

        &_cal {
          width: 50%;
          padding-top: 24px;
          padding-bottom: 24px;
          padding-left: 24px;
          padding-right: 67px;
          background-color: #fff;
          border-right: 1px solid rgba(22, 22, 22, 0.1);
          border-bottom: 1px solid rgba(22, 22, 22, 0.1);
        }

        &_fat {
          width: 50%;
          padding-top: 24px;
          padding-bottom: 24px;
          padding-left: 24px;
          padding-right: 67px;
          background-color: #fff;
          border-bottom: 1px solid rgba(22, 22, 22, 0.1);
        }

        &_carbs {
          width: 50%;
          padding-top: 24px;
          padding-bottom: 24px;
          padding-left: 24px;
          padding-right: 67px;
          background-color: #fff;
          border-right: 1px solid rgba(22, 22, 22, 0.1);
        }

        &_protein {
          width: 50%;
          padding-top: 24px;
          padding-bottom: 24px;
          padding-left: 24px;
          padding-right: 67px;
          background-color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .ItemOrder-Cont {
    display: flex;
    flex-direction: column;
  }

  .ItemOrder-Cont-Order_bad {
      display: flex;
      flex-wrap: inherit;
  }
}
