.SearchMeals {
  width: 100%;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../assets/images/ImageSearch.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &-Title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }

  &-Cont {
    position: relative;
    margin-top: 32px;

    &-Search {
      width: 480px;
      height: 40px;
      padding-left: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      background: #ffffff;
      border-radius: 2px;
      position: relative;
    }

    &-Icon {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
}


.SearchMealsDashboard {
  background-color: #e5e5e5;
  padding-bottom: 100px;

  &-Cont {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-Complete {
      > p {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: #161616;
        margin-left: 22px;
      }
    }

    &-Filt {
      margin-left: 24px;
      display: flex;
      height: 20px;

      .Filter-Result {
        display: flex;
        margin-left: 24px;
        // min-width: 30%;
        &:first-child {
          margin-left: 0;
        }

        &_content {
          min-width: 86px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 20px;
          color: rgba(22, 22, 22, 0.48);
        }

        &_value {
          margin-left: 8px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 20px;
          color: rgba(22, 22, 22, 0.74);

          span {
            display: inline-block;
            margin-right: 12px;
          }

          img {
            margin-left: 4px;
            vertical-align: middle;
          }
        }
      }
    }

    &-Filters {
      flex: 0 0 288px;
      > div {
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 8px 32px rgba(22, 22, 22, 0.05);
        border-radius: 4px;
        margin-bottom: 12px;

        .Filters-Title {
          padding: 16px 24px;
          border-bottom: 1px solid rgba(22, 22, 22, 0.1);
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          color: #161616;
        }

        .Filters-Container {
          padding: 16px 24px;
        }
      }

      &-Heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e5e5e5 !important;

        &-1 {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: #161616;
        }

        &-2 {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          color: rgba(22, 22, 22, 0.48);
        }
      }
    }

    &-Wrapper {
      // padding-left: 16px;
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 234px;
        flex: 1 1 auto;
      }

      .Meals-Item {
        margin: 24px 0px 0px 24px;
        padding: 0;

        .Meals-Item_img {
          overflow: hidden;
        }
      }
    }
  }
}

.filters {
  width: 40px;
  height: 40px;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;

  &.openFilter {
    .two {
      opacity: 0;
    }

    .one {
      -moz-transform: rotate(45deg) translate(3px, 3px);
      -ms-transform: rotate(45deg) translate(3px, 3px);
      -webkit-transform: rotate(45deg) translate(3px, 3px);
      transform: rotate(45deg) translate(3px, 3px);
      background-color: #000;
      width: 22px;
    }

    .three {
      -moz-transform: rotate(-45deg) translate(4px, -4px);
      -ms-transform: rotate(-45deg) translate(4px, -4px);
      -webkit-transform: rotate(-45deg) translate(4px, -4px);
      transform: rotate(-45deg) translate(4px, -4px);
      background-color: #000;
      width: 22px;
    }
  }

  > div {
    height: 16px;
    > div {
      width: 18px;
      height: 2px;
      background: #000;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      margin: 3px auto;
      backface-visibility: hidden;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
  }
}

@media screen and (max-width: 567px) {
  .filters {
    display: flex;
  }

  .SearchMealsDashboard-Cont-Filters {
    z-index: 3;
    width: calc(100% + 32px);
    padding: 24px;
    height: 0;
    left: calc(-100% - 48px);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    margin: 0;
    display: block;
    border-top: 1px solid rgba(22, 22, 22, 0.05);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.openFilter {
      left: -16px;
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }

  .SearchMealsDashboard-Cont {
    position: relative;
    display: block;
  }
}
