.Plans {
  background: #e5e5e5;

  &-Cont {
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &-Title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-weight: bold;
        font-size: 42px;
        line-height: 48px;
        text-align: center;
        color: #161616;
      }

      p {
        padding: 0 280px;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: rgba(22, 22, 22, 0.74);
        margin-top: 10px;
      }
    }

    &-Item {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      :first-child {
        margin-left: 0;
      }

      :last-child {
        margin-right: 0;
      }
    }
  }
}

// .Plans-Usual {
//   background-color: #e5e5e5;

//   &-Cont {
//     display: flex;
//     justify-content: space-between;
//     margin-top: -152px !important;

//     :first-child {
//       margin-left: 0;
//     }

//     :last-child {
//       margin-right: 0;
//     }
//   }
// }

@media screen and (max-width: 992px) {
  .Plans-Cont {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .Plans-Usual-Cont {
    display: flex;
    flex-direction: column;
    margin-top: 40px !important;
  }

  .Plans-Orange-Cont_title {
    font-size: 28px;
  }

  .Plans-Item {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 24px !important;
    /* flex: 0 0 320px; */
    margin: 0 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: #fff;
    // border-radius: 4px;
    // padding: 32px 24px 24px;
  }
}
