.ChangePassword {
  width: 100%;
  height: calc(100vh - 700px);
  padding: 0 16px;
  min-height: 660px;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;

  &-Cont {
    max-width: 600px;
    width: 100%;

    &-Title {
      h1 {
        font-weight: bold;
        font-size: 42px;
        line-height: 48px;
        color: #161616;
      }
    }

    &-Context {
      background: #ffffff;
      box-shadow: 0px 8px 32px rgba(22, 22, 22, 0.05);
      border-radius: 4px;
      padding: 40px;
      margin-top: 50px;

      &-Form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > div {
            width: 100%;
            margin-top: 16px;

            &:first-child {
                margin-top: 0px;
            }
          p {
            font-size: 13px;
            line-height: 16px;
            color: #161616;
          }

          input {
            width: 100%;
            background: #ffffff;
            border: 1px solid rgba(22, 22, 22, 0.22);
            box-sizing: border-box;
            border-radius: 2px;
            padding: 12px 16px;
          }
        }

        &-Submit {
          background: #9aca3c;
          border-radius: 2px;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          border: none;
          padding: 12px 32px;
          color: #ffffff;
        }
      }
    }
  }
}
