.Clients {
  width: 100%;
  padding: 50px 0px;
  background: #e5e5e5;
  //   padding: 0 32px;

  &-Cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 32px;

    &-Title {
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      color: #161616;
      padding-bottom: 50px;
    }

    &-Item {
      display: flex;
      
    }
  }
}
