.ForgetPassword {
  width: 100%;
  height: calc(100vh - 88px);
  padding: 0 16px;
  min-height: 660px;
  background-image: url("../../assets/images/Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  &-Cont {
    max-width: 524px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 32px rgba(22, 22, 22, 0.05);
    border-radius: 4px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      color: #161616;
    }

    p {
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      color: rgba(22, 22, 22, 0.74);
      text-align: center;
      margin-top: 8px;
    }

    &-Mail {
      background: #ffffff;
      border: 1px solid rgba(22, 22, 22, 0.22);
      box-sizing: border-box;
      border-radius: 2px;
      padding: 12px 16px;
      font-size: 13px;
      line-height: 16px;
      color: rgba(22, 22, 22, 0.48);
      width: 100%;
      margin-top: 16px;
    }

    &-Submit {
      background: #9aca3c;
      border-radius: 2px;
      padding: 12px 0px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      width: 100%;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ffffff;
      border: 0;
      margin-top: 16px;
    }
  }
}
