.SelectPlansMenu {
    margin-top: 100px;
  .SelectPlansMenu-Title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    h1 {
      font-size: 42px;
      line-height: 48px;
      color: #161616;
    }

    > div {
      display: flex;
      align-items: center;

      p {
        font-size: 13px;
        line-height: 16px;
        color: #161616;
      }
    }
  }
}
